:root {
    --primery-text-color-white-theme: #555555;
    --primery-text-color-dark-theme: #9DA4BD;
    --secondary-text-color-white-theme: #303030;
    --secondary-text-color-dark-theme: #ffffff;
    --subtitle-dark-theme-color: rgba(157, 164, 189, 0.6);
    --accent-color: #ff6c00;
    --primery-font-family: 'Open Sans', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;

}

/* ===============component=============== */
.media-list-link {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.2em;
    color: var(--secondary-text-color-white-theme);
}

.media-list-link:hover,
.media-list-link:focus {
    color: var(--accent-color)
}

.menu-item-link,
.nav-item {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-dark-theme);
    background-color: aqua;
}

.nav-item {
    font-style: normal;
}

.menu-item-link:hover,
.menu-item-link:focus,
.nav-item:hover,
.nav-item:hover {
    color: var(--accent-color)
}

.modal-btn {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-text-color-dark-theme);
}

.modal-btn:hover {
    background-color: var(--accent-color);
}

.secondary-button {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-text-color-white-theme);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--secondary-text-color-dark-theme);
    background-color: var(--accent-color);
}

.suptitle {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    text-transform: uppercase;
}

.subtitle-dark-theme {
    color: var(--subtitle-dark-theme-color)
}

.subtitle-white-theme {
    color: var(--secondary-text-color-white-theme);
}

.secondary-description {
    font-family: var(--primery-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

}

.secondary-description-dark-theme {
    color: var(--primery-text-color-dark-theme);
}

.secondary-description-white-theme {
    color: var(--primery-text-color-white-theme);
}

.section-title {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.04;
    letter-spacing: 0.05em;

}

.section-title-white-theme {
    color: var(--secondary-text-color-white-theme);
}

.section-title-dark-theme {
    color: var(--secondary-text-color-dark-theme);
    background-color: #ff6c00;
}

/* ===============/component=============== */

/* ===============hero=============== */
.main-title {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color-dark-theme);
    background-color: #ff6c00;
}


/* ===============/hero=============== */
/* ===============about=============== */
.about-description {
    font-family: var(--primery-font-family);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-white-theme);
}

/* ===============/about=============== */

/* ===============prices=============== */
.price-list {
    font-family: var(--primery-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-dark-theme);
}


/* ===============/prices=============== */

/* ===============advantages=============== */
.advantages-item-figure {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color-white-theme);
}

.advantages-item-description {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    text-align: center;
    color: var(--secondary-text-color-white-theme);
}

/* ===============/advantages=============== */

/* ===============uor barbesr=============== */
.barbers-name {
    font-family: var(--primery-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-white-theme);
}

.barbers-qualification {
    font-family: var(--primery-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* ===============/uor barbesr=============== */
/* ===============contacts=============== */

.contacts-list {
    font-family: var(--primery-font-family);

}

.contacts-list-item-map,
.contacts-list-item-phone,
.contacts-list-item-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    color: var(--primery-text-color-dark-theme);

}

.contacts-list-item-map {
    font-weight: 700;
}

.contacts-list-item-mail {
    text-decoration-line: underline;
}

.wh {
    color: var(--secondary-text-color-dark-theme);
    background-color: #ff6c00;
}

/* ===============/contacts=============== */
/* ===============footer=============== */
.copyright {
    font-family: var(--primery-font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--primery-text-color-dark-theme);
}

/* ===============/footer=============== */